﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Page2.aspx.cs" Inherits="TaskWeb03_CreatingWebSites.Page2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h1>Страница 2</h1>
        <a href="StatisticsPage.aspx">Вернуться к статистике</a>
    </div>
    </form>
</body>
</html>
