﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="TaskWeb02.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="formMain" runat="server">
        <h1>ASP.NET Life Cycle by Oleksii Hornostal</h1>
    <div>        
        <asp:Button ID="butonPostBack" runat="server" Text="Post Back" OnClick="butonPostBack_Click"/>
    </div>
    </form>
</body>
</html>
