﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="TaskWeb09_AJAX_UpdatePanel_WebServices.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <a href="Pages/EditProducts.aspx">Страница редактирования товаров</a>
            <br />
            <a href="Pages/ViewProducts.aspx">Страница просмотров товаров</a>
        </div>
    </form>
</body>
</html>
