div {
	display: inline-block;
    border: 1px solid;
	font: 3em Verdana;
	padding: 1px;
}

.black {
	color:black;
	background:white;
	padding: 20px 3px 1px 10px;
}

.white {
	color:white;
	background:black;
	display: inline-block;
	padding: 20px 10px 1px 3px;
}