 <head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="Black&White.css">
	<title>Чёрно-белый текст</title>
</head>
<div>
	<span class="black">BLACK</span><span class="white">WHITE</span>
</div>