body{
	font: 1em/40px Arial;
}

.item-list{	
	margin: 20px 10px;
	background:#efefef;
}

.pager {
	border-bottom: 5px solid #cacaca;
	 margin: 0;
	padding: 0;
}

.pager > li {	
	display: inline-block;
	width: 50px;
	height: 40px;
}

.pager > li > span {
	display: block;
	text-align: center;
}

.pager > li  > a{
	text-decoration: none;
	color: #7c0e0a;
	display: block;
	text-align: center;
}

.first{
	margin-left:40px;
}

.pager-current{
	background: #cccccc;
	box-shadow: 0px 4px #373737;
}

