﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="TaskWeb07_UserControl_CustomControl_UI.Default" %>
<%@ Register TagPrefix="CC" Namespace="TaskWeb07_UserControl_CustomControl_Dll " Assembly="TaskWeb07_UserControl_CustomControl_Dll" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <CC:QuestionsCustomControl runat="server" id="QuestionServerControl"></CC:QuestionsCustomControl>
    </div>
    </form>
</body>
</html>
